NODE_ENV="development"
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chatty_api?sslmode=disable"
DATABASE_POOL_MIN=2
DATABASE_POOL_MAX=10
# We will use RS256 for JWT, which requires a public and private key pair.
# After you generate the keys, you need to convert them to base64 and remove newlines before putting them here.
# This is because .env files do not support multiline values.

# Do the following commands and fill it into JWT_PUBLIC_KEY and JWT_PRIVATE_KEY with the output
# base64 -i private.pem | tr -d '\n'
# base64 -i public.pem | tr -d '\n'

JWT_PUBLIC_KEY="YOUR PUBLIC KEY FOR VERIFYING JWT (RS256 encoded in base64, without newlines)"
JWT_PRIVATE_KEY="YOUR PRIVATE KEY FOR ISSUING JWT (RS256 encoded in base64, without newlines)"